.btn-primary, .btn-delete {
    border: none;
    background: rgb(3, 151, 3);
    color: #fff;
    padding: 5px 10px;
    border-radius: 8px;
   text-transform: uppercase;
    outline: 0;
    cursor: pointer;
    margin-left: 20px;
}
.btn-primary:hover{
    background: rgb(2, 185, 2);
    box-shadow: 0 0 5px 2px rgb(157, 241, 157);
}
.btn-delete {  
    background: rgb(248, 107, 107);
}
.btn-delete:hover{
    background: red;
    box-shadow: 0 0 5px 2px rgb(241, 181, 157);
}