
.student-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;

    .wr-action {
        text-align: right;
        margin-bottom: 20px;
    }
    .table-section{
        //position: relative;
        //height: 300px;
        //overflow: auto;
         //margin-top: 10px;
        .listStudent {
            border: 1px solid #727071;
            width: 100%;
            //overflow: auto;
            tr{
                position: relative;
                th{
                    //position: sticky;
                    //top: 0;
                    background-color:#727071 ;
                    z-index: 5;

                    &.th-wp {
                        height: 49px;
                        display: flex;
                        align-items: center;
                        .age-wp {
                            width: 40%;
                        }
                        .gender-wp{
                            width: 40%;
                        }
                        .arrow {
                            display: flex;
                            flex-direction: column;
                           
                            .ant-btn {
                                background-color: #727071;
                                border: none;
                                padding: 0;
                                width: 10px;
                                height: 16px;
                                outline: none;
                                line-height: 0;
                            }
                            .ant-select-show-arrow {
                                .ant-select-selector {
                                    background-color: #727071;
                                    border: none;
                                    color: #c5c3c3;
                                    outline: none;
                                }
                                .ant-select-arrow {
                                    color: #c5c3c3;
                                    top: 48%;
                                }
                            }
                        }
                    }
                }
                
                td,
                th {
                    text-align: left;
                    padding: 8px;
                    
                    .btn-edit {
                        margin-left: 20px;
                        border: none;
                        background-color: green;
                        color: #fff;
                        text-transform: uppercase;
                        font-size: 12px;
                        border-radius: 5px;
                        padding: 3px 15px;
                        outline: 0;
                        &:hover {
                            background-color: rgb(3, 161, 3);
                        }
                    }
                }
            }
           
          
           
            .td-btn {
                width: 17%;
            }
    
            .addStudent {
                width: 100%;
                max-width: 1200px;
                margin: 10px auto;
                display: flex;
                flex-direction: column;
            }
            tbody tr:hover {
                box-shadow: 0 0 5px 2px rgb(175, 172, 172);
            }
            thead {
                background-color: #727071;
                color: #fff;
            }
            tr:nth-child(even) {
                background-color: #dddddd;
            }
            .btn-delete {
                border: none;
                background: rgb(248, 107, 107);
                color: #fff;
                padding: 3px 15px;
                border-radius: 5px;
                outline: 0;
                text-transform: uppercase;
                font-size: 12px;
            }
            .btn-delete:hover {
                background: red;
            }
        }
    }
   
    .no-data {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid grey;
        padding: 5px;
        color: red;
        text-align: center;
    }
    .wp-pagination {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        align-items: center;
        .block-current-page {
            margin-right: 13px;
            .page-number {
                padding: 8px;
                font-weight: bold;
            }
        }
    }
}

.ant-modal-root {
    .ant-modal-wrap {
        .ant-modal-confirm-confirm {
            .ant-modal-content {
                border-radius: 15px;

                .ant-modal-body {
                    .ant-modal-confirm-body-wrapper {
                        .ant-modal-confirm-body {
                            .anticon {
                                color: red;
                            }
                            .ant-modal-confirm-title {
                                color: red;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        .ant-modal-confirm-btns {
                            .ant-btn {
                                border: 1px solid red;
                                border-radius: 10px;
                                &:hover {
                                    color: red;
                                }
                            }
                            .ant-btn-primary {
                                background-color: red;
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
